# Configuración del servidor
PORT=8000
HOST=0.0.0.0

# OCI Settings (Solo si aplica cargar modelos desde Object Storage)
OCI_NAMESPACE=
OCI_BUCKET=
OCI_PREFIX=models/v2.0.0/
CORS_ORIGINS=http://localhost:5173
PRECARGAR_MODELOS=1